@import 'mediawiki.skin.variables.less';

.skin-cosmos-profile__heading .skin-cosmos-profile__tag {
	display: inline-block;
	padding: 3px @spacing-50;
	border-radius: 3px;
	margin-right: @spacing-75;
	background-color: mix( lighten( @button-background-color, 10% ), @content-background-color, 80% );
	color: @button-font-color;
	font-size: @font-size-x-small;
	font-style: normal;
	font-weight: @font-weight-bold;
	line-height: 1.5;
	vertical-align: text-bottom;
}

.skin-cosmos-profile__heading h1[ itemprop='name' ] {
	margin-right: @spacing-75;
}

.skin-cosmos-profile__heading h1 {
	display: inline;
	border-bottom: 0;
	font-size: 1.875rem;
	font-weight: @font-weight-bold;
	line-height: @line-height-xxx-large;
}
