@import 'mediawiki.skin.variables.less';

#profile-image {
	padding-left: 2em;
}

#profile-image .mw-socialprofile-avatar {
	width: 138px;
	height: 138px;
	border-width: @border-width-base;
	border-style: solid;
	border-radius: @border-radius-circle;
	object-fit: cover;
}
