#profile-top .skin-cosmos-profile__tally {
	padding-bottom: 10px;
	padding-left: 2px;
	margin-bottom: 22px;
	font-size: 0.625rem;
	letter-spacing: 0.28px;
	line-height: 1.3em;
	text-transform: uppercase;
	// stylelint-disable-next-line plugin/no-unsupported-browser-features
	zoom: 1;
}

#profile-top .skin-cosmos-profile__tally em {
	margin-right: 5px;
	float: left;
	font-size: 1.875rem;
	font-style: normal;
	letter-spacing: -1px;
	line-height: 1.625rem;
}
