.skin-cosmos-profile__heading .skin-cosmos-profile__tag {
	display: inline-block;
	padding: 3px 8px;
	border-radius: 3px;
	margin-right: 12px;
	background-color: mix( lighten( @button-background-color, 10% ), @content-background-color, 80% );
	color: @button-font-color;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	vertical-align: text-bottom;
}

.skin-cosmos-profile__heading h1[ itemprop='name' ] {
	margin-right: 12px;
}

.skin-cosmos-profile__heading h1 {
	display: inline;
	border-bottom: 0;
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 2.375rem;
}
