@media screen and ( min-width: 850px ) {
	body {
		& when not( @main-background-image = 0 ) {
			&::after {
				position: @main-background-image-position;
				z-index: -1;
				top: -100px;
				right: 0;
				bottom: 0;
				left: 0;
				background: @main-background-image;
				background-repeat: @main-background-image-repeat;
				background-size: @main-background-image-size;
				content: '';
				opacity: 1;
			}
		}
	}

	#mw-content,
	#catlinks {
		background-color: @content-opacity-level;
	}
}

@media all and ( max-width: 1280px ) {
	#p-personal-label {
		display: none;
	}

	#cosmos-userButton-avatar {
		margin-right: 0;
	}
}

@media all and ( max-width: 750px ) {
	#cosmos-userOptions-messages {
		display: none;
	}
}

@media only screen and ( max-width: 1083px ) {
	.skin-cosmos-header {
		&::before {
			background: @header-background-color2;
		}
	}

	.skin-cosmos-header__wordmark {
		max-width: 175px;
		height: 49px;
		margin-bottom: 0;
	}

	.skin-cosmos-header__top {
		height: 69px;
	}

	.skin-cosmos-header__sitename {
		max-height: 72px;
		margin-top: 20px;
		font-size: 1.5rem;
		white-space: normal;
		word-wrap: break-word;
	}

	.skin-cosmos-header__counter {
		margin-top: 22px;
	}

	.skin-cosmos-header__counter-value {
		font-size: 1.125rem;
	}

	.skin-cosmos-header__counter-label {
		font-size: 0.625rem;
	}
}

@media only screen and ( min-width: 1084px ) {
	.skin-cosmos-header__sitename {
		a {
			display: inline-block;
			height: 100%;
			line-height: 1.2;
			text-decoration: none;
		}
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media only screen and ( max-width: 1023px ) {
	.skin-cosmos-header__navigation {
		.skin-cosmos-nav__label {
			font-size: 0.625rem;
		}
	}
}

@media screen and ( max-width: 1099px ) and ( min-width: 851px ) {
	#mw-content {
		margin-top: 0;
	}
}

@media ( max-width: 1280px ) {
	#cosmos-footerIcons-list {
		direction: ltr;
	}

	.skin-cosmos-footer__icons-item {
		margin: 0 15px 15px 0;
	}
}

@media screen and ( max-width: 1099px ) and ( min-width: 851px ) {
	#mw-content-wrapper {
		margin-top: auto;
	}
}

@media only screen and ( max-width: 1083px ) {
	#mw-content-wrapper {
		width: auto;
		padding: 0 24px;
	}
}

@media only screen and ( max-width: 1595px ) and ( min-width: 1084px ) {
	#mw-content-wrapper {
		width: @content-width-1084;

		& when not( @content-width-1084 = auto ) {
			max-width: 95%;
			padding: 0 20px;
		}

		& when ( @content-width-1084 = auto ) {
			padding: 0 10px;
		}
	}
}

@media only screen and ( min-width: 1596px ) {
	#mw-content-wrapper {
		width: @content-width-1596;

		& when not( @content-width-1596 = auto ) {
			max-width: 95%;
			padding: 0 30px;
		}

		& when ( @content-width-1596 = auto ) {
			padding: 0 20px;
		}
	}
}

.skin-cosmos-backdrop() when ( @backdrop-blur-enabled = 1 ) {
	@supports ( backdrop-filter: blur( 1px ) ) or ( -webkit-backdrop-filter: blur( 1px ) ) {
		#cosmos-banner,
		#cosmos-footer,
		#cosmos-toolbar,
		#mw-content,
		#catlinks {
			-webkit-backdrop-filter: blur( @backdrop-blur );
			backdrop-filter: blur( @backdrop-blur );
		}
	}

	@supports not ( ( backdrop-filter: blur( 1px ) ) or ( -webkit-backdrop-filter: blur( 1px ) ) ) {
		#cosmos-banner {
			background-color: @banner-background-color-fallback;
		}

		#cosmos-footer {
			background-color: @footer-background-color-fallback;
		}

		#cosmos-toolbar {
			background-color: @toolbar-background-color-fallback;
			background-image: none;
		}

		#mw-content,
		#catlinks {
			background-color: @content-opacity-level-fallback;
		}
	}
}

.skin-cosmos-backdrop();
