{{#href}}<a href="{{.}}" title="{{title}}">{{/href}}<div{{#id}} id="{{.}}"{{/id}} class="{{class}}">{{#icon}}<span class="skin-cosmos-icon skin-cosmos-icon-{{.}} skin-cosmos-button__icon cosmos-button-icon" aria-hidden="true"></span>{{/icon}}<span class="skin-cosmos-button__text cosmos-button-text">{{text}}</span></div>{{#href}}</a>{{/href}}
