<nav class="skin-cosmos-associatedTabs cosmos-associatedTabs" id="cosmos-associatedTabs" aria-label="{{msg-label}}">
	<ul>
		{{#array-items}}
		<li id="{{id}}"{{#is-selected}} class="skin-cosmos-associatedTabs-selected"{{/is-selected}}><a href="{{href}}"{{#is-selected}} aria-current="page"{{/is-selected}}>{{text}}</a></li>
		{{/array-items}}
	</ul>
</nav>
