<section id="cosmos-banner">
	<div id="cosmos-banner-content" class="skin-cosmos-pageAligned cosmos-pageAligned">
		<nav class="skin-cosmos-mobile-navigation cosmos-mobile-navigation">
			<div class="skin-cosmos-button cosmos-button skin-cosmos-button-primary cosmos-button-primary skin-cosmos-mobile-menu-button cosmos-mobile-menu-button">&#9776;</div>
			{{> Navigation}}
		</nav>
		{{#data-search-box}}{{> Search}}{{/data-search-box}}
		{{#data-cosmos-banner}}
		<div id="cosmos-banner-userOptions">
			{{#is-registered}}{{#html-notifications}}{{> Notifications}}{{/html-notifications}}{{/is-registered}}
			{{> PersonalTools}}
			{{{html-temp-banner}}}
		</div>
		{{/data-cosmos-banner}}
	</div>
</section>
