<nav id="skin-cosmos-fandomrail" class="skin-cosmos-fandomrail" aria-label="{{msg-label}}">
	<ul class="skin-cosmos-fandomrail__list skin-cosmos-fandomrail__list--top">
		{{#array-top}}{{> FandomRailItem}}{{/array-top}}
	</ul>
	<ul class="skin-cosmos-fandomrail__list skin-cosmos-fandomrail__list--bottom">
		{{#array-bottom}}{{> FandomRailItem}}{{/array-bottom}}
	</ul>
</nav>
