<footer id="cosmos-footer">
	<div class="skin-cosmos-page-aligned cosmos-pageAligned">
		<div id="cosmos-footer-footerContent">
			<div class="skin-cosmos-article-container cosmos-articleContainer">
				<div id="cosmos-footerContent-footerLinks" class="skin-cosmos-article-aligned cosmos-articleAligned">
					<ul id="footer-info" class="skin-cosmos-footer__links cosmos-footerLinks-list">
						{{#array-info}}<li id="{{id}}" class="skin-cosmos-footer__links-item cosmos-footerLinks-listItem">{{{html}}}</li>{{/array-info}}
					</ul>
					<ul id="footer-places" class="skin-cosmos-footer__links cosmos-footerLinks-list">
						{{#array-places}}<li id="{{id}}" class="skin-cosmos-footer__links-item cosmos-footerLinks-listItem">{{{html}}}</li>{{/array-places}}
					</ul>
				</div>
				<div id="cosmos-footerContent-footerIcons" class="skin-cosmos-sidebar-aligned cosmos-sidebarAligned">
					<ul id="cosmos-footerIcons-list">
						{{#array-icons}}<li id="cosmos-footerIcons-{{name}}" class="skin-cosmos-footer__icons-item cosmos-footerIcons-listItem">{{{html}}}</li>{{/array-icons}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
