<div class="previewnote">
	<h2 id="mw-previewheader">{{preview}}</h2>
	{{{note}}}
	{{{conflict}}}
</div>
<header class="skin-cosmos-header cosmos-header skin-cosmos-navigation-preview">
	<nav class="skin-cosmos-header__local-navigation cosmos-header__local-navigation navigation-preview">
		{{> Navigation}}
	</nav>
</header>
