<div class="skin-cosmos-rail CosmosRail" id="CosmosRailWrapper">
	<div class="skin-cosmos-rail-inner cosmos-rail-inner" id="CosmosRail">
		{{#array-modules}}
		<section class="skin-cosmos-rail-module railModule module{{#is-sticky}} skin-cosmos-rail-module--sticky rail-sticky-module{{/is-sticky}} {{class}}">
			{{#header}}<h3>{{.}}</h3>{{/header}}
			{{#array-recentchanges}}
			<li>
				<div class="skin-cosmos-recentChanges-page cosmos-recentChanges-page">{{{html-page}}}</div>
				<div class="skin-cosmos-recentChanges-info cosmos-recentChanges-info">{{{html-user}}} &bull; {{{time}}}</div>
			</li>
			{{/array-recentchanges}}
			{{#array-tools}}
			<ul class="skin-cosmos-rail-tools">{{#.}}{{{html-item}}}{{/.}}</ul>
			{{/array-tools}}
			{{{html-body}}}
		</section>
		{{/array-modules}}
	</div>
</div>
