<div class="skin-cosmos-rail CosmosRail" id="CosmosRailWrapper">
	<div class="skin-cosmos-rail__inner cosmos-rail-inner" id="CosmosRail">
		{{#array-modules}}
		<section class="skin-cosmos-rail__module railModule module{{#is-sticky}} skin-cosmos-rail__module--sticky rail-sticky-module{{/is-sticky}} {{class}}">
			{{#header}}<h3>{{.}}</h3>{{/header}}
			{{#array-recentchanges}}
			<li>
				<div class="skin-cosmos-recent-changes__page cosmos-recentChanges-page">{{{html-page}}}</div>
				<div class="skin-cosmos-recent-changes__info cosmos-recentChanges-info">{{{html-user}}} &bull; {{{time}}}</div>
			</li>
			{{/array-recentchanges}}
			{{#data-tools}}
			<ul class="skin-cosmos-rail__tools">{{#array-items}}{{{html-item}}}{{/array-items}}</ul>
			{{/data-tools}}
			{{{html-body}}}
		</section>
		{{/array-modules}}
	</div>
</div>
