<div id="p-search" class="skin-cosmos-banner__search cosmos-banner-search skin-cosmos-search-box cosmos-search-box">
	<form action="{{form-action}}" id="searchform" class="skin-cosmos-search-box__form cosmos-search-box-form">
		<div id="simpleSearch">
			{{{html-input}}}
			<input type="hidden" name="title" value="{{page-title}}">
			<div id="cosmos-search-buttonContainer" class="skin-cosmos-banner-option__button cosmos-bannerOption-button">
				<div id="cosmos-search-buttonIcon" class="skin-cosmos-banner-option__icon cosmos-bannerOption-icon">
					<span class="skin-cosmos-icon skin-cosmos-icon-search" aria-hidden="true"></span>
				</div>
				{{{html-button-search}}}
				{{{html-button-search-fallback}}}
			</div>
		</div>
	</form>
</div>
