<form id="{{form-id}}" class="skin-cosmos-td" method="post" action="{{action}}">
	{{{html-token}}}
	<div id="skin-cosmos-themedesigner-app">
		<noscript>{{msg-nojs}}</noscript>
	</div>
	<details class="cdx-accordion skin-cosmos-td-advanced">
		<summary>
			<h3 class="cdx-accordion__header">
				<span class="cdx-accordion__header__title">{{msg-advanced}}</span>
				<span class="cdx-accordion__header__description">{{msg-advanced-help}}</span>
			</h3>
		</summary>
		<div class="cdx-accordion__content">
			<div class="cdx-text-area">
				<textarea class="cdx-text-area__textarea" id="skin-cosmos-themedesigner-json" name="wpThemeJson" rows="14" spellcheck="false">{{json}}</textarea>
			</div>
		</div>
	</details>
	<div class="skin-cosmos-td-publish">
		<div class="cdx-text-input">
			<input class="cdx-text-input__input" type="text" name="wpComment" maxlength="200" placeholder="{{msg-comment}}" aria-label="{{msg-comment}}">
		</div>
		<button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary" type="submit">{{msg-publish}}</button>
	</div>
</form>
