<div id="toc" class="toc skin-cosmos-toc" role="navigation" aria-labelledby="mw-toc-heading">
	<div class="toctitle"><h2 id="mw-toc-heading">{{msg-toc}}</h2></div>
	<ul>
		{{#array-sections}}{{> TocItem}}{{/array-sections}}
	</ul>
</div>
