<li class="toclevel-{{toclevel}} tocsection-{{index}}"><a href="#{{linkAnchor}}"><span class="tocnumber">{{number}}</span> <span class="toctext">{{{line}}}</span></a>{{#is-parent-section}}
	<ul>
		{{#array-sections}}{{> TocItem}}{{/array-sections}}
	</ul>
{{/is-parent-section}}</li>
