.ext-managewiki-search.oo-ui-fieldLayout,
.ext-managewiki-submit-formfields {
	border-color: var( --skin-cosmos-border-color );
	background: var( --skin-cosmos-content-background );
}

html body.mw-special-ManageWiki #cosmos-pageBody-content {
	overflow: visible;
}

.mw-special-ManageWiki #cosmos-toolbar {
	display: none;
}
