@import 'mediawiki.skin.variables.less';

@media screen {
	div.mw-echo-ui-overlay {
		z-index: 1000000000;
	}

	/* Handle and position Echo icons */
	#cosmos-notification-icons {
		white-space: nowrap;

		ul {
			padding: 0;
			margin: 0.85em 0 0;
			list-style: none;
		}

		li {
			margin: @spacing-25 0.4em 0 0;
			float: left;
		}
	}

	@media ( min-width: 851px ) {
		#cosmos-notification-icons {
			padding: 0 0.75em;
			float: left;
		}
	}

	@media ( max-width: 850px ) {
		.mw-echo-ui-notificationBadgeButtonPopupWidget {
			z-index: 2;
		}
		/* Temporary hack:
		 * Make notifications visible. !important is for overriding echo's inline styles.
		 * Remove all of this once the underlying OOUI issue is fixed in general for mobile displays.
		 */
		.mw-echo-ui-overlay {
			margin: 0 @spacing-65;

			.oo-ui-popupWidget-anchored > .oo-ui-popupWidget-anchor {
				display: none;
			}

			.mw-echo-ui-notificationBadgeButtonPopupWidget-popup {
				// stylelint-disable-next-line declaration-no-important
				left: 0 !important;
				width: @size-full;

				.oo-ui-popupWidget-popup {
					// stylelint-disable-next-line declaration-no-important
					width: initial !important;
					max-width: 500px;

					.oo-ui-clippableElement-clippable {
						// stylelint-disable-next-line declaration-no-important
						width: @size-full !important;
					}
				}
			}
		}
	}
}

#cosmos-notifications-list {
	min-width: 350px;
}

.skin-cosmos-notifications__count {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	min-width: 13px;
	height: 13px;
	padding: 3px;
	border-radius: 9px;
	background-color: #f00;
	color: var( --skin-cosmos-banner-font-color );
	font-size: 8pt;
	font-weight: bolder;
	place-content: center center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// stylelint-disable-next-line plugin/no-unsupported-browser-features
#cosmos-notification-icons {
	display: flex;
	height: @size-full;
	padding: @spacing-30 18px @spacing-30 @spacing-12;
	gap: 22px;
	list-style: none;
	place-items: center center;
}

@media ( max-width: 850px ) {
	#cosmos-notification-icons {
		padding-right: 14px;
		gap: 18px;
	}
}

#cosmos-banner {
	#pt-notifications-alert .mw-echo-notifications-badge,
	#pt-notifications-notice .mw-echo-notifications-badge {
		top: 0;
		width: 28px;
		height: 28px;
		opacity: 1;
	}

	.oo-ui-icon-bell,
	.oo-ui-icon-tray {
		position: relative;
		background-image: none;
	}

	.oo-ui-icon-bell::before,
	.oo-ui-icon-tray::before {
		position: absolute;
		content: '';
		inset: 0;
		-webkit-mask-position: center;
		mask-position: center;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		mask-size: contain;
	}

	.oo-ui-icon-bell::before {
		.cdx-mixin-css-icon-background-image( @cdx-icon-bell-outline, var( --skin-cosmos-banner-font-color ) );
	}

	.oo-ui-icon-tray::before {
		.cdx-mixin-css-icon-background-image( @cdx-icon-info, var( --skin-cosmos-banner-font-color ) );
	}
}
