.mw-pt-languages {
	border-color: var( --skin-cosmos-border-color );
	background-color: color-mix( in srgb, var( --skin-cosmos-font-color ) 6%, var( --skin-cosmos-content-background ) );
	color: var( --skin-cosmos-font-color );
}
