.language-settings-dialog {
	// stylelint-disable declaration-no-important
	top: 30% !important;
	left: 50% !important;
	// stylelint-enable declaration-no-important
	overflow: auto;
	width: auto;
	// stylelint-disable-next-line declaration-no-important
	min-width: unset !important;
	max-width: 99%;
	transform: translate( -50%, -50% );
}
