@media screen {
	div.mw-echo-ui-overlay {
		z-index: 1000000000;
	}

	/* Handle and position Echo icons */
	#cosmos-notification-icons {
		white-space: nowrap;

		ul {
			padding: 0;
			margin: 0.85em 0 0;
			list-style: none;
		}

		li {
			margin: 4px 0.4em 0 0;
			float: left;
		}
	}

	@media ( min-width: 851px ) {
		#cosmos-notification-icons {
			padding: 0 0.75em;
			float: left;
		}
	}

	@media ( max-width: 850px ) {
		.mw-echo-ui-notificationBadgeButtonPopupWidget {
			z-index: 2;
		}
		/* Temporary hack:
		 * Make notifications visible. !important is for overriding echo's inline styles.
		 * Remove all of this once the underlying OOUI issue is fixed in general for mobile displays.
		 */
		.mw-echo-ui-overlay {
			margin: 0 10px;

			.oo-ui-popupWidget-anchored > .oo-ui-popupWidget-anchor {
				display: none;
			}

			.mw-echo-ui-notificationBadgeButtonPopupWidget-popup {
				left: 0 !important;
				width: 100%;

				.oo-ui-popupWidget-popup {
					width: initial !important;
					max-width: 500px;

					.oo-ui-clippableElement-clippable {
						width: 100% !important;
					}
				}
			}
		}
	}
}

#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read,
#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read {
	opacity: 1;
}

#pt-notifications-alert .mw-echo-notifications-badge,
#pt-notifications-notice .mw-echo-notifications-badge {
	top: 0;
	width: 28px;
	height: 28px;
}

#cosmos-notification-icons {
	display: flex;
	height: 100%;
	place-items: center center;
	padding: 5px 2px;
	gap: 10px;
	list-style: none;
}

#cosmos-notification-icons #pt-notifications-notice {
	padding-left: 14px;
}

.mw-echo-ui-notificationBadgeButtonPopupWidget-popup * {
	color: #000;
}
