.mw-rcfilters-ui-filterTagMultiselectWidget-views-select-widget.oo-ui-widget {
	background: #fff;
}

.mw-rcfilters-ui-filterTagMultiselectWidget-views-select-widget.oo-ui-widget,
.mw-rcfilters-ui-filterTagMultiselectWidget-views-select-widget .oo-ui-optionWidget {
	border-color: var( --skin-cosmos-border-color );
	background-color: var( --skin-cosmos-content-background );
	color: var( --skin-cosmos-font-color );
}

html.skin-cosmos-colormode-dark body .mw-rcfilters-container .mw-rcfilters-ui-filterTagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle {
	border-color: var( --skin-cosmos-border-color );
	background-color: color-mix( in srgb, var( --skin-cosmos-font-color ) 6%, var( --skin-cosmos-content-background ) );
	color: var( --skin-cosmos-font-color );
}

.mw-rcfilters-ui-filterTagMultiselectWidget .oo-ui-tagMultiselectWidget-group {
	color: var( --skin-cosmos-font-color );
}
