.mw-htmlform-ooui {
	.mw-htmlform-matrix {
		tbody {
			tr {
				&:hover {
					td {
						background-color: transparent;
						color: var( --skin-cosmos-font-color );
					}
				}

				&:nth-child( even ) {
					td {
						background-color: transparent;
						color: var( --skin-cosmos-font-color );
					}
				}
			}
		}
	}
}
