.mw-changeslist-legend {
	background-color: #fff;
}

.mw-changeslist-legend {
	color: #000;
}

html.skin-cosmos-colormode-dark body .mw-changeslist-legend {
	border-color: var( --skin-cosmos-border-color );
	background-color: color-mix( in srgb, var( --skin-cosmos-font-color ) 6%, var( --skin-cosmos-content-background ) );
	color: var( --skin-cosmos-font-color );
}
