.editOptions {
	border-width: 0 1px 1px;
	background-color: transparent;
	color: var( --skin-cosmos-font-color );
}

.editOptions {
	p {
		color: var( --skin-cosmos-font-color );
	}

	.oo-ui-fieldLayout-body {
		.oo-ui-labelElement-label {
			color: var( --skin-cosmos-font-color );
		}
	}
}
