.diff-context {
	border-color: #a3a3a3;
	background-color: transparent;
	color: var( --skin-cosmos-alt-font-color );
}

.diff-addedline {
	border-color: #01af3c;
	background-color: #636262;

	.diffchange {
		background-color: #01af3c;
		color: #0e191a;
	}
}

.diff-deletedline {
	border-color: #ef6881;
	background-color: #636262;

	.diffchange {
		background-color: #ef6881;
		color: #fff;
	}
}
