.mw-prefs-buttons {
	background: var( --skin-cosmos-content-background );
}

#preferences .mw-htmlform-submit-buttons {
	background-color: var( --skin-cosmos-content-background );
	border-color: var( --skin-cosmos-border-color );
}
